   body {
    margin: 50;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    /* background-color: change background color */
    background-color: #495057;
  }

  #whitebox {
    background-color:white;
    color: #2FA4E7;
  }

  /* adding margin id to try and get some buffer between things */
  #marginfix {
    margin-right: 50px;
  }

  /* creating white container */
.containerWH,
.containerWH-fluid,
.containerWH-sm,
.containerWH-md,
.containerWH-lg,
.containerWH-xl { 
  width: 100%;
  padding-right: 15px;
  padding-left: 35px;  
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

/* small white container */
.smcontWH,
.smcontWH-fluid,
.smcontWH-sm,
.smcontWH-md,
.smcontWH-lg,
.smcontWH-xl { 
  background-color: white;
}